@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", "http://portal.example.com:8000" , false );
    xmlHttp.send( null );
</script>