@page
@using System.Net.Mime
@model UserProfile.Pages.Files

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<h1>Dirs and files</h1>
<div>
    @Model.dirContent
    
    @{
            if (!String.IsNullOrEmpty(Request.Query["filename"]))
            {
                string path = Request.Query["filename"];
                string tmp = System.IO.Path.GetFileName(path);
                Write(System.IO.File.ReadAllText("C:\\Users\\migue\\RiderProjects\\ASVS\\UserProfile" +  tmp));
            }
        }
</div>
</body>
</html>