@page
@model WebApplication1.Pages.Management

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @Request.Query["name"]
    @{
        string tmp = System.IO.File.ReadAllText("payload.txt");
    }
    @Html.Raw(@Model.rand)
</div>
</body>
</html>