@page
@model WebApplication1.Pages.Management

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @Html.Raw(Request.Query["name"])
    @Html.Raw(Request.Query["name"])
</div>
</body>
</html>